/**
 * @author tknight-dev
 */
@use 'styles/main.scss' as *;

/*
 * Page
 */
$blockenstein-spinnet-border-size: 20px;
$blockenstein-spinnet-border-size-small: 10px;
$main-header-connect-size-width: 100px;
$main-header-height: 40px;
$main-logo: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="750" height="200" version="1.1" viewBox="0 0 198.44 52.917" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="%23fffeec"><path d="m22.112 23.753v7.7353c0 0.53877 0.12507 0.93323 0.37522 1.1834 0.26939 0.2309 0.71195 0.34636 1.3277 0.34636h0.81776l1.5875 3.4058h-3.0691c-3.4058 0-5.1087-1.6548-5.1087-4.9644v-7.7064h-1.905v-3.3192h1.905v-3.9542h4.0697v3.9542h3.579v3.3192z"/><path d="m38.073 36.424-5.4262-6.8116v6.8116h-4.0408v-21.359h4.0408v12.151l5.3685-6.7828h5.253l-7.0425 8.0239 7.1003 7.9662z"/><path d="m54.323 20.203q2.8574 0 4.6181 1.8184 1.7606 1.7895 1.7606 5.0221v9.3804h-4.0408v-8.832q0-1.905-0.95248-2.9152-0.95248-1.0391-2.5977-1.0391-1.674 0-2.6554 1.0391-0.95248 1.0102-0.95248 2.9152v8.832h-4.0408v-15.99h4.0408v1.9915q0.80816-1.0391 2.0493-1.6163 1.27-0.60612 2.7708-0.60612z"/><path d="m68.61 20.318v15.99h-4.0408v-15.99z"/><path d="m66.589 18.42c-0.67907 0-1.248-0.21106-1.7068-0.63318-0.44048-0.44048-0.66071-0.98189-0.66071-1.6243 0-0.64236 0.22024-1.1746 0.66071-1.5967 0.45883-0.44048 1.0278-0.66071 1.7068-0.66071 0.67906 0 1.2388 0.22024 1.6793 0.66071 0.45883 0.42212 0.68824 0.95436 0.68824 1.5967 0 0.64236-0.22941 1.1838-0.68824 1.6243-0.44048 0.42212-1.0002 0.63318-1.6793 0.63318z"/><path d="m78.827 20.174c1.193 0 2.2417 0.24052 3.1461 0.72157 0.91248 0.44428 1.667 0.97312 2.1359 1.2892v-1.751h4.0697v16.105c0 1.4816-0.29825 2.7997-0.89475 3.9542-0.5965 1.1738-1.4912 2.0974-2.6842 2.7708-1.193 0.69271-2.6361 1.0391-4.3294 1.0391-2.2705 0-4.137-0.52915-5.5994-1.5875-1.4431-1.0583-2.2609-2.5015-2.4533-4.3294h4.0119c0.21166 0.73119 0.66385 1.3085 1.3566 1.7318 0.71195 0.44256 1.5682 0.66385 2.5688 0.66385 1.1738 0 2.1262-0.35598 2.8574-1.0679 0.73119-0.69271 1.0968-1.751 1.0968-3.1749v-1.953c-0.69733 0.7427-1.2643 0.92393-2.1879 1.4242-0.90437 0.50029-1.9202 0.67313-3.094 0.67313-1.3469 0-2.5784-0.34636-3.6945-1.0391-1.116-0.69271-2.0012-1.6644-2.6554-2.9152-0.63498-1.27-0.95248-2.7227-0.95248-4.3583 0-1.6163 0.31749-3.0498 0.95248-4.3006 0.65423-1.2507 1.5297-2.2128 2.6265-2.8863 1.116-0.67347 2.3571-1.0102 3.7233-1.0102zm5.2819 8.2548c0-0.98134-0.19242-1.8184-0.57726-2.5111-0.38484-0.71195-0.90437-1.2507-1.5586-1.6163-0.65423-0.38484-1.3566-0.57726-2.107-0.57726s-1.4431 0.1828-2.0781 0.5484c-0.63498 0.3656-1.1545 0.90437-1.5586 1.6163-0.38484 0.69271-0.57726 1.5201-0.57726 2.4822s0.19242 1.8087 0.57726 2.5399c0.40408 0.71195 0.92361 1.2603 1.5586 1.6452 0.65422 0.38484 1.3469 0.57726 2.0781 0.57726 0.75044 0 1.4528-0.1828 2.107-0.5484 0.65423-0.38484 1.1738-0.92361 1.5586-1.6163 0.38484-0.71195 0.57726-1.5586 0.57726-2.5399z"/><path d="m101.14 20.203q1.8184 0 3.2326 0.80816 1.4143 0.7793 2.1936 2.3379 0.80816 1.5297 0.80816 3.6945v9.3804h-4.0408v-8.832q0-1.905-0.95248-2.9152-0.95248-1.0391-2.5977-1.0391-1.674 0-2.6554 1.0391-0.95248 1.0102-0.95248 2.9152v8.832h-4.0408v-21.359h4.0408v7.36q0.7793-1.0391 2.0781-1.6163 1.2988-0.60612 2.8863-0.60612z"/><path d="m115.92 23.753v7.7353c0 0.53877 0.12507 0.93323 0.37522 1.1834 0.26938 0.2309 0.71195 0.34636 1.3277 0.34636h0.81776l1.5875 3.4058h-3.0691c-3.4058 0-5.1087-1.6548-5.1087-4.9644v-7.7064h-1.905v-3.3192h1.905v-3.9542h4.0697v3.9542h3.579v3.3192z"/><path d="m128.88 28.371c0-1.6163 0.31749-3.0498 0.95247-4.3006 0.65423-1.2507 1.5394-2.2128 2.6554-2.8863 1.116-0.67347 2.3571-1.0102 3.7233-1.0102 1.0391 0 2.03 0.2309 2.9729 0.69271 0.94285 0.44256 1.2791 0.67107 2.2513 1.2603v-7.0618h4.0985v21.359h-4.0985v-1.8376c-0.8566 0.61526-1.2026 0.89474-2.107 1.3758-0.90437 0.48105-1.9531 0.72157-3.1461 0.72157-1.3469 0-2.5784-0.34636-3.6944-1.0391-1.116-0.69271-2.0012-1.6644-2.6554-2.9152-0.63498-1.27-0.95247-2.7227-0.95247-4.3583zm12.584 0.05773c0-0.98134-0.19242-1.8184-0.57726-2.5111-0.38484-0.71195-0.90437-1.2507-1.5586-1.6163-0.65423-0.38484-1.3566-0.57726-2.107-0.57726-0.75043 0-1.4431 0.1828-2.0781 0.5484-0.63499 0.3656-1.1545 0.90437-1.5586 1.6163-0.38484 0.69271-0.57726 1.5201-0.57726 2.4822s0.19242 1.8087 0.57726 2.5399c0.40408 0.71195 0.92361 1.2603 1.5586 1.6452 0.65422 0.38484 1.3469 0.57726 2.0781 0.57726 0.75044 0 1.4528-0.1828 2.107-0.5484 0.65422-0.38484 1.1738-0.92361 1.5586-1.6163 0.38484-0.71195 0.57726-1.5586 0.57726-2.5399z"/><path d="m164.35 28.083c0 0.57726-0.0385 1.0968-0.11545 1.5586h-11.689c0.0962 1.1545 0.50029 2.0589 1.2122 2.7131s1.5875 0.98134 2.6265 0.98134c1.5009 0 2.5688-0.6446 3.2038-1.9338h4.3583c-0.46181 1.5394-1.3469 2.8093-2.6554 3.8099-1.3084 0.98134-2.9152 1.472-4.8201 1.472-1.5394 0-2.9248-0.33673-4.1563-1.0102-1.2122-0.69271-2.1647-1.6644-2.8574-2.9152-0.67347-1.2507-1.0102-2.6939-1.0102-4.3294 0-1.6548 0.33674-3.1076 1.0102-4.3583 0.67347-1.2507 1.6163-2.2128 2.8286-2.8863 1.2122-0.67347 2.6073-1.0102 4.1851-1.0102 1.5201 0 2.8767 0.32711 4.0697 0.98134 1.2122 0.65422 2.1455 1.5875 2.7997 2.7997 0.67347 1.193 1.0102 2.5688 1.0102 4.1274zm-4.1851-1.1545c-0.0193-1.0391-0.39448-1.8665-1.1256-2.4822-0.73119-0.63498-1.6259-0.95248-2.6842-0.95248-1.0006 0-1.8472 0.30787-2.5399 0.92361-0.67347 0.5965-1.0872 1.4334-1.2411 2.511z"/><path d="m173.96 32.701 4.0408-12.267h4.3006l-5.9169 15.99h-4.9067l-5.888-15.99h4.3294z"/><rect x="121.89" y="26.928" width="4.3834" height="2.7132"/></g></svg>');
$main-logo-width: 152px;
$main-z-index-debug: 160;
$main-z-index-editor: 80;
$main-z-index-error: 150;
$main-z-index-game-menu: 85;
$main-z-index-icons: 85;
$main-z-index-menus: 100;
$main-z-index-player-overlays: 49;
$main-z-index-weapons: 50;
$main-z-index-screen: 90;
$main-z-index-video-interactive: 50;

.main-icon {
	background-color: #eeeeee;
	bottom: 5px;
	min-height: 40px;
	height: 40px;
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	transition: background-color 0.125s linear;
	min-width: 40px;
	width: 40px;

	&.chart {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M256 144C256 117.5 277.5 96 304 96L336 96C362.5 96 384 117.5 384 144L384 496C384 522.5 362.5 544 336 544L304 544C277.5 544 256 522.5 256 496L256 144zM64 336C64 309.5 85.5 288 112 288L144 288C170.5 288 192 309.5 192 336L192 496C192 522.5 170.5 544 144 544L112 544C85.5 544 64 522.5 64 496L64 336zM496 160L528 160C554.5 160 576 181.5 576 208L576 496C576 522.5 554.5 544 528 544L496 544C469.5 544 448 522.5 448 496L448 208C448 181.5 469.5 160 496 160z"/></svg>');
	}

	&.download {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M352 96C352 78.3 337.7 64 320 64C302.3 64 288 78.3 288 96L288 306.7L246.6 265.3C234.1 252.8 213.8 252.8 201.3 265.3C188.8 277.8 188.8 298.1 201.3 310.6L297.3 406.6C309.8 419.1 330.1 419.1 342.6 406.6L438.6 310.6C451.1 298.1 451.1 277.8 438.6 265.3C426.1 252.8 405.8 252.8 393.3 265.3L352 306.7L352 96zM160 384C124.7 384 96 412.7 96 448L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 448C544 412.7 515.3 384 480 384L433.1 384L376.5 440.6C345.3 471.8 294.6 471.8 263.4 440.6L206.9 384L160 384zM464 440C477.3 440 488 450.7 488 464C488 477.3 477.3 488 464 488C450.7 488 440 477.3 440 464C440 450.7 450.7 440 464 440z"/></svg>');
	}

	&.edit {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M535.6 85.7C513.7 63.8 478.3 63.8 456.4 85.7L432 110.1L529.9 208L554.3 183.6C576.2 161.7 576.2 126.3 554.3 104.4L535.6 85.7zM236.4 305.7C230.3 311.8 225.6 319.3 222.9 327.6L193.3 416.4C190.4 425 192.7 434.5 199.1 441C205.5 447.5 215 449.7 223.7 446.8L312.5 417.2C320.7 414.5 328.2 409.8 334.4 403.7L496 241.9L398.1 144L236.4 305.7zM160 128C107 128 64 171 64 224L64 480C64 533 107 576 160 576L416 576C469 576 512 533 512 480L512 384C512 366.3 497.7 352 480 352C462.3 352 448 366.3 448 384L448 480C448 497.7 433.7 512 416 512L160 512C142.3 512 128 497.7 128 480L128 224C128 206.3 142.3 192 160 192L256 192C273.7 192 288 177.7 288 160C288 142.3 273.7 128 256 128L160 128z"/></svg>');
	}

	&.eraser {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M210.5 480L333.5 480L398.8 414.7L225.3 241.2L98.6 367.9L210.6 479.9zM256 544L210.5 544C193.5 544 177.2 537.3 165.2 525.3L49 409C38.1 398.1 32 383.4 32 368C32 352.6 38.1 337.9 49 327L295 81C305.9 70.1 320.6 64 336 64C351.4 64 366.1 70.1 377 81L559 263C569.9 273.9 576 288.6 576 304C576 319.4 569.9 334.1 559 345L424 480L544 480C561.7 480 576 494.3 576 512C576 529.7 561.7 544 544 544L256 544z"/></svg>');
	}

	&.eye {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M320 96C239.2 96 174.5 132.8 127.4 176.6C80.6 220.1 49.3 272 34.4 307.7C31.1 315.6 31.1 324.4 34.4 332.3C49.3 368 80.6 420 127.4 463.4C174.5 507.1 239.2 544 320 544C400.8 544 465.5 507.2 512.6 463.4C559.4 419.9 590.7 368 605.6 332.3C608.9 324.4 608.9 315.6 605.6 307.7C590.7 272 559.4 220 512.6 176.6C465.5 132.9 400.8 96 320 96zM176 320C176 240.5 240.5 176 320 176C399.5 176 464 240.5 464 320C464 399.5 399.5 464 320 464C240.5 464 176 399.5 176 320zM320 256C320 291.3 291.3 320 256 320C244.5 320 233.7 317 224.3 311.6C223.3 322.5 224.2 333.7 227.2 344.8C240.9 396 293.6 426.4 344.8 412.7C396 399 426.4 346.3 412.7 295.1C400.5 249.4 357.2 220.3 311.6 224.3C316.9 233.6 320 244.4 320 256z"/></svg>');
	}

	&.fullscreen {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M32 32C14.3 32 0 46.3 0 64l0 96c0 17.7 14.3 32 32 32s32-14.3 32-32l0-64 64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7 14.3 32 32 32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0 0-64zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0 0 64c0 17.7 14.3 32 32 32s32-14.3 32-32l0-96c0-17.7-14.3-32-32-32l-96 0zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l96 0c17.7 0 32-14.3 32-32l0-96z"/></svg>');
	}

	&.fullscreen-exit {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M160 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l96 0c17.7 0 32-14.3 32-32l0-96zM32 320c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0 0 64c0 17.7 14.3 32 32 32s32-14.3 32-32l0-96c0-17.7-14.3-32-32-32l-96 0zM352 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7 14.3 32 32 32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0 0-64zM320 320c-17.7 0-32 14.3-32 32l0 96c0 17.7 14.3 32 32 32s32-14.3 32-32l0-64 64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0z"/></svg>');
	}

	&.inspect {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M405.6 93.2L304 194.8L294.6 185.4C282.1 172.9 261.8 172.9 249.3 185.4C236.8 197.9 236.8 218.2 249.3 230.7L409.3 390.7C421.8 403.2 442.1 403.2 454.6 390.7C467.1 378.2 467.1 357.9 454.6 345.4L445.2 336L546.8 234.4C585.8 195.4 585.8 132.2 546.8 93.3C507.8 54.4 444.6 54.3 405.7 93.3zM119.4 387.3C104.4 402.3 96 422.7 96 443.9L96 486.3L69.4 526.2C60.9 538.9 62.6 555.8 73.4 566.6C84.2 577.4 101.1 579.1 113.8 570.6L153.7 544L196.1 544C217.3 544 237.7 535.6 252.7 520.6L362.1 411.2L316.8 365.9L207.4 475.3C204.4 478.3 200.3 480 196.1 480L160 480L160 443.9C160 439.7 161.7 435.6 164.7 432.6L274.1 323.2L228.8 277.9L119.4 387.3z"/></svg>');
	}

	&.location {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M320 48C337.7 48 352 62.3 352 80L352 98.3C450.1 112.3 527.7 189.9 541.7 288L560 288C577.7 288 592 302.3 592 320C592 337.7 577.7 352 560 352L541.7 352C527.7 450.1 450.1 527.7 352 541.7L352 560C352 577.7 337.7 592 320 592C302.3 592 288 577.7 288 560L288 541.7C189.9 527.7 112.3 450.1 98.3 352L80 352C62.3 352 48 337.7 48 320C48 302.3 62.3 288 80 288L98.3 288C112.3 189.9 189.9 112.3 288 98.3L288 80C288 62.3 302.3 48 320 48zM160 320C160 408.4 231.6 480 320 480C408.4 480 480 408.4 480 320C480 231.6 408.4 160 320 160C231.6 160 160 231.6 160 320zM320 224C373 224 416 267 416 320C416 373 373 416 320 416C267 416 224 373 224 320C224 267 267 224 320 224z"/></svg>');
	}

	&.move {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M342.6 73.4C330.1 60.9 309.8 60.9 297.3 73.4L233.3 137.4C224.1 146.6 221.4 160.3 226.4 172.3C231.4 184.3 243.1 192 256 192L288 192L288 288L192 288L192 256C192 243.1 184.2 231.4 172.2 226.4C160.2 221.4 146.5 224.2 137.3 233.3L73.3 297.3C60.8 309.8 60.8 330.1 73.3 342.6L137.3 406.6C146.5 415.8 160.2 418.5 172.2 413.5C184.2 408.5 192 396.9 192 384L192 352L288 352L288 448L256 448C243.1 448 231.4 455.8 226.4 467.8C221.4 479.8 224.2 493.5 233.3 502.7L297.3 566.7C309.8 579.2 330.1 579.2 342.6 566.7L406.6 502.7C415.8 493.5 418.5 479.8 413.5 467.8C408.5 455.8 396.9 448 384 448L352 448L352 352L448 352L448 384C448 396.9 455.8 408.6 467.8 413.6C479.8 418.6 493.5 415.8 502.7 406.7L566.7 342.7C579.2 330.2 579.2 309.9 566.7 297.4L502.7 233.4C493.5 224.2 479.8 221.5 467.8 226.5C455.8 231.5 448 243.1 448 256L448 288L352 288L352 192L384 192C396.9 192 408.6 184.2 413.6 172.2C418.6 160.2 415.8 146.5 406.7 137.3L342.7 73.3z"/></svg>');
	}

	&.pencil {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M100.4 417.2C104.5 402.6 112.2 389.3 123 378.5L304.2 197.3L338.1 163.4C354.7 180 389.4 214.7 442.1 267.4L476 301.3L442.1 335.2L260.9 516.4C250.2 527.1 236.8 534.9 222.2 539L94.4 574.6C86.1 576.9 77.1 574.6 71 568.4C64.9 562.2 62.6 553.3 64.9 545L100.4 417.2zM156 413.5C151.6 418.2 148.4 423.9 146.7 430.1L122.6 517L209.5 492.9C215.9 491.1 221.7 487.8 226.5 483.2L155.9 413.5zM510 267.4C493.4 250.8 458.7 216.1 406 163.4L372 129.5C398.5 103 413.4 88.1 416.9 84.6C430.4 71 448.8 63.4 468 63.4C487.2 63.4 505.6 71 519.1 84.6L554.8 120.3C568.4 133.9 576 152.3 576 171.4C576 190.5 568.4 209 554.8 222.5C551.3 226 536.4 240.9 509.9 267.4z"/></svg>');
	}

	&.play {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M448 128C554 128 640 214 640 320C640 426 554 512 448 512L192 512C86 512 0 426 0 320C0 214 86 128 192 128L448 128zM192 240C178.7 240 168 250.7 168 264L168 296L136 296C122.7 296 112 306.7 112 320C112 333.3 122.7 344 136 344L168 344L168 376C168 389.3 178.7 400 192 400C205.3 400 216 389.3 216 376L216 344L248 344C261.3 344 272 333.3 272 320C272 306.7 261.3 296 248 296L216 296L216 264C216 250.7 205.3 240 192 240zM432 336C414.3 336 400 350.3 400 368C400 385.7 414.3 400 432 400C449.7 400 464 385.7 464 368C464 350.3 449.7 336 432 336zM496 240C478.3 240 464 254.3 464 272C464 289.7 478.3 304 496 304C513.7 304 528 289.7 528 272C528 254.3 513.7 240 496 240z"/></svg>');
	}

	&.upload {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M352 173.3L352 384C352 401.7 337.7 416 320 416C302.3 416 288 401.7 288 384L288 173.3L246.6 214.7C234.1 227.2 213.8 227.2 201.3 214.7C188.8 202.2 188.8 181.9 201.3 169.4L297.3 73.4C309.8 60.9 330.1 60.9 342.6 73.4L438.6 169.4C451.1 181.9 451.1 202.2 438.6 214.7C426.1 227.2 405.8 227.2 393.3 214.7L352 173.3zM320 464C364.2 464 400 428.2 400 384L480 384C515.3 384 544 412.7 544 448L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 448C96 412.7 124.7 384 160 384L240 384C240 428.2 275.8 464 320 464zM464 488C477.3 488 488 477.3 488 464C488 450.7 477.3 440 464 440C450.7 440 440 450.7 440 464C440 477.3 450.7 488 464 488z"/></svg>');
	}

	&.volume {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M533.6 96.5C523.3 88.1 508.2 89.7 499.8 100C491.4 110.3 493 125.4 503.3 133.8C557.5 177.8 592 244.8 592 320C592 395.2 557.5 462.2 503.3 506.3C493 514.7 491.5 529.8 499.8 540.1C508.1 550.4 523.3 551.9 533.6 543.6C598.5 490.7 640 410.2 640 320C640 229.8 598.5 149.2 533.6 96.5zM473.1 171C462.8 162.6 447.7 164.2 439.3 174.5C430.9 184.8 432.5 199.9 442.8 208.3C475.3 234.7 496 274.9 496 320C496 365.1 475.3 405.3 442.8 431.8C432.5 440.2 431 455.3 439.3 465.6C447.6 475.9 462.8 477.4 473.1 469.1C516.3 433.9 544 380.2 544 320.1C544 260 516.3 206.3 473.1 171.1zM412.6 245.5C402.3 237.1 387.2 238.7 378.8 249C370.4 259.3 372 274.4 382.3 282.8C393.1 291.6 400 305 400 320C400 335 393.1 348.4 382.3 357.3C372 365.7 370.5 380.8 378.8 391.1C387.1 401.4 402.3 402.9 412.6 394.6C434.1 376.9 448 350.1 448 320C448 289.9 434.1 263.1 412.6 245.5zM80 416L128 416L262.1 535.2C268.5 540.9 276.7 544 285.2 544C304.4 544 320 528.4 320 509.2L320 130.8C320 111.6 304.4 96 285.2 96C276.7 96 268.5 99.1 262.1 104.8L128 224L80 224C53.5 224 32 245.5 32 272L32 368C32 394.5 53.5 416 80 416z"/></svg>');
	}

	&.volume-mute {
		// !Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M80 416L128 416L262.1 535.2C268.5 540.9 276.7 544 285.2 544C304.4 544 320 528.4 320 509.2L320 130.8C320 111.6 304.4 96 285.2 96C276.7 96 268.5 99.1 262.1 104.8L128 224L80 224C53.5 224 32 245.5 32 272L32 368C32 394.5 53.5 416 80 416zM399 239C389.6 248.4 389.6 263.6 399 272.9L446 319.9L399 366.9C389.6 376.3 389.6 391.5 399 400.8C408.4 410.1 423.6 410.2 432.9 400.8L479.9 353.8L526.9 400.8C536.3 410.2 551.5 410.2 560.8 400.8C570.1 391.4 570.2 376.2 560.8 366.9L513.8 319.9L560.8 272.9C570.2 263.5 570.2 248.3 560.8 239C551.4 229.7 536.2 229.6 526.9 239L479.9 286L432.9 239C423.5 229.6 408.3 229.6 399 239z"/></svg>');
	}
}

.info {
	background-color: white;
	color: black;
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 9999;
}

.main {
	min-width: 300px;
	overflow: hidden;
	z-index: 1;

	.game {
		overflow: clip;
		z-index: 1;

		.joystick {
			border: 2px solid rgba(255, 255, 255, 0.25);
			border-radius: 50%;
			box-shadow:
				inset 0 0 2px 3px rgba(0, 0, 0, 0.25),
				0 0 2px 3px rgba(0, 0, 0, 0.25);
			height: 150px;
			left: 0;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			touch-action: none;
			transition: opacity 0.125s linear;
			width: 150px;
			z-index: 666;

			&.show {
				opacity: 1;
			}

			.thumb {
				background: radial-gradient(closest-side, #c0c0c0 0%, #d0d0d0 50%, white 60%, white 80%, #c0c0c0 100%);
				border-radius: 50%;
				box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.25);
				height: 40px;
				left: 0;
				position: absolute;
				top: 0;
				width: 40px;

				&.press-green {
					background: radial-gradient(closest-side, #007d00 0%, #00aa00 40%, #00ff00 60%, #00ff00 80%, #007d00 100%);
				}

				&.press-red {
					background: radial-gradient(closest-side, #7d0000 0%, #aa0000 40%, #ff0000 60%, #ff0000 80%, #7d0000 100%);
				}
			}
		}

		.controls,
		.debug,
		.editor,
		.error,
		.editor-cell-find-and-replace,
		.game-menu,
		.fps,
		.icons,
		.meta,
		.performance,
		.player-overlay,
		.settings,
		.screen,
		.spinner,
		.video,
		.video-interactive,
		.weapons {
			position: absolute;
			z-index: 1;

			.button {
				align-items: center;
				background-color: rgba(0, 0, 0, 0.75);
				border: 1px solid #eeeeee;
				border-radius: 5px;
				box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25) inset;
				cursor: pointer;
				display: flex;
				height: 50px;
				justify-content: center;
				position: relative;
				transition:
					background-color 0.125s linear,
					border 0.125s linear,
					margin 0.125s linear;
				width: 50px;

				&.active {
					background-color: rgba(0, 128, 0, 0.75);

					&:active {
						background-color: rgba(0, 108, 0, 0.75);
					}
				}

				&:active {
					border: 1px solid #999999;
					margin-top: 1px;
				}

				.life-icon {
					height: 25px;
					max-height: 25px;
					min-height: 25px;
					position: relative;
					width: 25px;
					max-width: 25px;
					min-width: 25px;

					&:hover {
						background-color: white;
						cursor: pointer;
					}
					&:active {
						background-color: #999999;
						margin-top: 1px;
					}
				}

				&.disable {
					border: 1px solid #666666;

					&:active {
						border: 1px solid #666666;
						margin-top: 0;
					}

					.life-icon {
						background-color: #666666;

						&:hover {
							background-color: #666666;
							cursor: default;
						}
						&:active {
							background-color: #666666;
							margin-top: 0;
						}
					}
				}
			}
		}

		.debug {
			background: rgba(0, 0, 0, 0.25);
			color: white;
			font-family: monospace;
			left: 50px;
			pointer-events: none;
			top: 100px;
			touch-action: none;
			z-index: $main-z-index-debug;
		}

		.editor {
			background: black;
			border: 2px solid white;
			display: none;
			height: calc(100% - 160px);
			opacity: 1;
			position: absolute;
			right: 0;
			top: 60px;
			transition:
				height 0.125s linear,
				opacity 0.125s linear,
				width 0.125s linear;
			width: 250px;
			z-index: $main-z-index-editor;

			.commands,
			.container,
			.handle,
			.sections {
				left: 0;
				position: absolute;
				right: 0;
			}

			.commands,
			.sections {
				.command {
					font-family: 'monospace';
					font-weight: bold;
					padding: 0 5px;
					position: relative;

					&.bar-top {
						border-top: 2px solid white;
						margin-top: 5px;
						padding-top: 5px;
					}

					&.clickable {
						&:active {
							top: 1px;
						}

						&:hover {
							box-shadow: inset 0 0 3px 3px rgba(255, 255, 255, 0.25);
							cursor: pointer;
						}
					}

					&.active {
						background-color: rgba(0, 108, 0, 0.75);
						box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25) inset !important;
						cursor: default !important;
						top: 0 !important;
					}
				}
			}

			.commands {
				background: black;
				border-top: 2px solid white;
				bottom: 0;
				height: 70px;
				padding-top: 5px;
			}

			.container {
				background: rgb(32, 32, 32);
				overflow-x: hidden;
				overflow-y: auto;
				top: 20px;
				z-index: 2;

				.group {
					.content {
						.item {
							align-items: center;
							display: flex;
							height: 50px;
							justify-content: center;

							.image,
							.input {
								height: 40px;
								margin-left: 5px;
							}

							.image {
								background-color: rgb(98, 00, 88);
								border: 1px solid black;
								box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.25);
								cursor: pointer;
								width: 40px;
							}

							.title {
								flex-grow: 1;
								padding-left: 5px;
							}

							&:nth-child(odd) {
								background-color: rgba(0, 0, 0, 0.25);
							}

							&:hover {
								box-shadow: inset 0 0 3px 3px rgba(255, 255, 255, 0.25);
								cursor: pointer;

								.image {
									box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.25);
								}
							}

							&.no-hover {
								box-shadow: none;
								cursor: default;

								.image {
									box-shadow: none;
								}
							}

							&.active {
								box-shadow: inset 0 0 3px 3px rgba(0, 255, 0, 0.25);
								cursor: default;

								.image {
									box-shadow: 0 0 1px 1px rgba(0, 255, 0, 0.25);
								}
							}
						}
					}

					.name {
						background-color: white;
						color: black;
						font-weight: bold;
						text-align: center;
					}
				}
			}

			.extended {
				border: 2px solid white;
				height: 205px;
				left: auto;
				overflow: hidden;
				position: absolute;
				right: 244px;
				top: 18px; // -2px for borders
				transition: width 0.125s linear;
				white-space: nowrap;
				width: 0;
				z-index: 1;

				&.show {
					right: 246px;
					width: 160px;
				}
			}

			.handle {
				align-items: center;
				display: flex;
				height: 20px;
				justify-content: space-between;
				top: 0;

				.arrow,
				.hide {
					align-items: center;
					background-color: white;
					color: black;
					display: flex;
					font-size: 20px;
					font-weight: bold;
					height: 20px;
					justify-content: center;
					width: 20px;

					&:hover {
						cursor: pointer;
					}
				}
			}

			.sections {
				align-items: center;
				border-top: 2px solid white;
				bottom: 70px;
				display: flex;
				height: 40px;
				justify-content: space-evenly;

				.command {
					align-items: center;
					display: flex;
					flex-grow: 1;
					height: 100%;
					justify-content: center;

					&:nth-child(2) {
						border-left: 2px solid white;
						border-right: 2px solid white;
					}
				}
			}

			&.hide {
				pointer-events: none;
				opacity: 0;
				touch-action: none;
			}

			&.left {
				left: 0;
				right: auto;

				.handle {
					flex-direction: row-reverse;
				}

				.container {
					.group {
						.content {
							.item {
								flex-direction: row-reverse;

								.image,
								.input {
									margin-left: 0;
									margin-right: 5px;
								}

								.title {
									flex-grow: 1;
									padding-right: 5px;
									text-align: right;
								}
							}
						}
					}
				}

				.extended {
					left: 244px;
					right: auto;

					&.show {
						left: 246px;
						width: 160px;
					}
				}
			}

			&.offset {
				.container {
					bottom: 110px;
				}
			}

			&.properties {
				max-height: 555px;

				.commands {
					bottom: 90px;
					height: 40px;

					&.position {
						bottom: 35px;
						height: 20px;
					}
				}

				.container {
					bottom: 130px;

					.item {
						height: 40px;

						.input {
							height: 30px !important;
							width: 30px !important;
						}
					}

					&.character {
						display: none;
					}
				}

				&.character {
					max-height: 280px;

					.commands {
						bottom: 35px;
					}

					.container {
						bottom: 55px;

						.item {
							.input {
								height: 40px !important;
								width: 50% !important;
							}
						}
					}
				}
			}

			&.shrink {
				bottom: auto;
				height: 24px;
				overflow: hidden;
				width: 60px;

				.commands,
				.container,
				.extended {
					display: none;
				}
			}
		}

		.editor-cell-find-and-replace {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.35);
			bottom: 0;
			display: none;
			justify-content: center;
			left: 0;
			right: 0;
			top: 0;
			z-index: $main-z-index-menus - 1;

			.foreground {
				background-color: black;
				border: 2px solid white;
				height: 200px;
				padding: 20px;
				width: 300px;

				table {
					tr {
						td {
							text-align: right;
						}
					}
				}
			}
		}

		.error {
			align-items: center;
			bottom: 0;
			display: none;
			font-size: 30px;
			font-weight: bold;
			justify-content: center;
			left: 0;
			opacity: 0;
			right: 0;
			pointer-events: none;
			top: 0;
			transition: opacity 1s linear;
			z-index: $main-z-index-error;

			&.show {
				opacity: 1;
			}
		}

		.error {
			span {
				background-color: rgba(0, 0, 0, 0.85);
				border-radius: 20px;
				box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
				color: red;
				padding: 20px;
			}
		}

		.game-menu {
			align-items: center;
			background-color: rgb(138, 0, 0);
			bottom: 0;
			display: flex;
			left: 0;
			justify-content: center;
			right: 0;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.125s linear;
			top: 0;
			touch-action: none;
			z-index: $main-z-index-game-menu;

			&.show {
				opacity: 1;
				pointer-events: inherit;
				touch-action: initial;
			}

			.wrapper {
				.banners,
				.content,
				.instructions {
					align-items: center;
					display: flex;
					justify-content: center;
					left: 0;
					position: absolute;
					right: 0;
				}

				.banners {
					background-repeat: repeat !important;
					background-size: auto 100% !important;
					height: 80px;
					top: 60px;

					.banner {
						border-bottom-right-radius: 3px;
						border-top-right-radius: 3px;
						bottom: 10px;
						box-shadow: 3px 3px 1px 2px rgba(0, 0, 0, 0.25);
						display: none;
						height: 80px;
						position: relative;
						max-width: 100%;
					}
				}

				.content {
					bottom: 140px;
					top: 140px;

					.container {
						background-color: rgb(89, 0, 0);
						border-bottom: 2px solid rgb(255, 0, 0);
						box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
						padding: 5px;
						position: relative;
						transition: width 0.125s linear;
						width: 75%;
						min-width: 400px;

						#game-menu-back {
							cursor: pointer;
							margin-top: 5px;
							position: absolute;
							right: calc(50% - 50px);
							text-align: center;
							top: 100%;
							width: 100px;
						}

						#game-menu-pistol {
							animation-name: animationGameMenuPistol;
							animation-duration: 1.5s;
							animation-iteration-count: infinite;
							background-position: center !important;
							background-repeat: no-repeat !important;
							background-size: contain !important;
							filter: brightness(100%);
							height: 35px;
							image-rendering: pixelated;
							left: 0;
							margin-top: 5px;
							position: absolute;
							top: 0;
							transition: top 0.125s linear;
							width: 90px;
						}

						@keyframes animationGameMenuPistol {
							40% {
								filter: brightness(100%);
							}
							50% {
								filter: brightness(75%);
							}
							60% {
								filter: brightness(100%);
							}
						}

						table {
							display: none;

							tr {
								height: 40px;

								td {
									color: #8e8e8e;
									cursor: pointer;
									font-family: monospace;
									font-size: 32px;
									font-weight: bold;
									height: 40px;
									position: relative;
									white-space: nowrap;
									width: 100%;

									&.active {
										color: white;
									}

									&.disable {
										color: #710000;
										cursor: default;
									}

									&:hover {
										color: #c0c0c0;

										&.active {
											color: white;
										}

										&.disable {
											color: #710000;
										}
									}

									&.pistol {
										cursor: default;
										width: 90px;
										max-width: 90px;
										min-width: 90px;
									}

									&.yellow {
										color: #b6ae00;
									}

									.map,
									.screenshot,
									.timestamp {
										font-size: 22px;
										position: absolute;
										text-align: left;
									}

									.map {
										height: 50%;
										left: 85px;
										right: 0;
										top: 0;
									}

									.screenshot {
										background-color: rgba(0, 0, 0, 0.25);
										background-position: center !important;
										background-repeat: no-repeat !important;
										background-size: contain !important;
										border-radius: 5px;
										bottom: 0;
										left: 0;
										overflow: hidden;
										top: 0;
										width: 80px;
									}

									.timestamp {
										bottom: 0;
										height: 50%;
										left: 85px;
										right: 0;
									}

									&.empty {
										cursor: default;

										.screenshot {
											background-color: transparent;
										}
									}
								}
							}

							&.big {
								tr {
									height: 80px;
									position: relative;

									&:nth-child(even) {
										td {
											background-color: rgba(0, 0, 0, 0.125);
										}
									}

									&:nth-child(odd) {
										td {
											background-color: rgba(0, 0, 0, 0.125);
										}
									}

									td {
										border-radius: 5px;
										height: 80px;

										&.pistol {
											background-color: transparent;
										}
									}
								}
							}
						}

						@media only screen and (max-width: 510px) {
							min-width: 300px;
							width: calc(100% - 10px);

							#game-menu-pistol {
								display: none;
							}

							table {
								tr {
									td {
										&.pistol {
											display: none;
										}
									}
								}
							}
						}
					}
				}
				.instructions {
					background-position: center !important;
					background-repeat: no-repeat !important;
					background-size: contain !important;
					bottom: 5px;
					height: 20px;
				}
			}
		}

		.fps {
			font-size: 30px;
			font-weight: bold;
			left: 10px;
			top: 60px;
			z-index: 2;
		}

		.icons {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.75);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			display: none;
			height: 60px;
			justify-content: center;
			left: 0;
			opacity: 1;
			padding: 0 5px;
			right: 0;
			top: 0;
			transition:
				background-color 1s linear,
				opacity 1s linear;
			z-index: $main-z-index-icons;

			&.bottom {
				bottom: 0;
				transition: bottom 0.125s linear;
				top: auto;

				.button {
					&:not(:first-child) {
						margin-left: 20px;
					}
				}

				&.hide {
					bottom: -60px;
				}
			}

			&.intro {
				background-color: rgba(0, 0, 0, 0);
				display: flex;
				justify-content: left;
				z-index: $main-z-index-screen + 2;

				& > * {
					&:not(#button-fullscreen) {
						opacity: 0;
						pointer-events: none;
						touch-action: none;
					}
				}
			}

			&.top {
				.spacer {
					flex-grow: 1;
				}

				.spacer-thin {
					transition: width 0.125s linear;
					width: 20px;
				}
			}

			@media only screen and (max-width: 510px) {
				&.bottom {
					.button {
						&:not(:first-child) {
							margin-left: 5px;
						}
					}
				}

				&.top {
					.spacer-thin {
						width: 5px;
					}
				}
			}
		}

		.controls,
		.meta,
		.settings {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.95);
			bottom: 0;
			display: none;
			justify-content: center;
			left: 0;
			right: 0;
			top: 0;
			z-index: $main-z-index-menus;

			.buttons,
			.body,
			.header,
			.header-sub {
				left: 0;
				position: absolute;
				right: 0;
			}

			.buttons {
				align-items: center;
				bottom: 10px;
				display: flex;
				height: 40px;
				justify-content: space-evenly;

				button {
					background-color: rgba(255, 255, 255, 0.85);
					border: none;
					border-radius: 5px;
					color: black;
					font-weight: bold;
					outline: none;
					width: 40%;

					&.cancel {
						background-color: rgba(200, 215, 225, 0.85);
					}

					&:active {
						background-color: rgba(128, 128, 128, 0.85);
						margin-top: 1px;
					}
				}
			}

			.body {
				background-color: rgba(255, 255, 255, 0.05);
				bottom: 60px;
				overflow-y: auto;
				padding: 20px;
				@include scrollbar();
				top: 100px;
				width: 100%;

				.image-container {
					align-items: center;
					display: flex;
					justify-content: center;
					margin-bottom: 20px;

					.image {
						background-position: center !important;
						background-repeat: no-repeat !important;
						background-size: contain !important;
						width: 100%;

						&.gamepad {
							aspect-ratio: 2.136395565;
							background: url('assets/controls/gamepad.svg');
							max-width: 600px;
						}

						&.touch {
							aspect-ratio: 0.714207351;
							background: url('assets/controls/touch.svg');
							max-height: 300px;
						}
					}
				}

				li {
					font-family: monospace;
				}

				table {
					height: auto;
					width: 100%;

					tr {
						height: 50px;

						td {
							height: 40px;
							margin-top: 5px;
							padding-left: 5px;
							width: 65%;

							&:first-child {
								padding-left: 0;
								text-align: right;
								width: 35%;
							}

							&.range {
								align-items: center;
								display: flex;
								justify-content: center;
								width: 100%;
								max-width: 405px;

								input:first-child {
									flex-grow: 1;
								}

								input:not(first-child) {
									margin-left: 10px;
									text-align: center;
									width: 60px;
								}
							}
						}
					}
				}
			}

			.header,
			.header-sub {
				align-items: center;
				border-bottom: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
				display: flex;
				font-weight: bold;
			}

			.header {
				font-size: 20px;
				height: 60px;
				justify-content: center;
				top: 0;
			}

			.header-sub {
				height: 40px;
				justify-content: space-evenly;
				top: 60px;

				div {
					text-align: center;
					width: 65px;
				}
			}
		}

		.performance {
			align-items: top;
			background-color: rgba(0, 0, 0, 0.5);
			bottom: 0px;
			display: none;
			flex-wrap: wrap;
			justify-content: center;
			left: 0;
			overflow-y: auto;
			padding-bottom: 15px;
			padding-top: 40px;
			right: 0;
			@include scrollbar();
			top: 60px;
			z-index: $main-z-index-screen;

			.performance-title {
				align-items: center;
				display: flex;
				font-size: 22px;
				font-weight: bold;
				height: 40px;
				justify-content: center;
				left: 0;
				pointer-events: none;
				position: absolute;
				right: 0;
				top: 0;
				touch-action: none;
			}

			.category {
				border: 1px solid white;
				border-radius: 20px;
				flex: 1;
				margin: 5px;
				width: 235px;
				max-width: 235px;
				min-width: 235px;

				.wrapper {
					align-items: center;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.body,
					.title {
						width: 100%;
					}

					.body {
						background-color: rgba(0, 0, 0, 0.75);
						border-bottom-left-radius: 20px;
						border-bottom-right-radius: 20px;
						flex-grow: 1;

						table {
							height: auto !important;
							width: 100%;

							tr {
								border-bottom: 1px solid rgba(255, 255, 255, 0.25);
								height: 40px;

								&:nth-child(even) {
									background-color: rgba(128, 128, 128, 0.1);
								}

								td {
									color: #dddddd;
									font-family: monospace;
									font-size: 14px;
									font-style: italic;
									font-weight: bold;
									height: 40px;
									padding: 5px;
									text-align: right;
									min-width: 100px;

									&:last-child {
										border-left: 1px solid rgba(128, 128, 128, 0.25);
										color: white;
										font-style: normal;
										text-align: left;
										width: 100%;
									}
								}
							}
						}
					}

					.title {
						align-items: center;
						background-color: white;
						border-top-left-radius: 20px;
						border-top-right-radius: 20px;
						color: black;
						display: flex;
						font-size: 20px;
						font-weight: bold;
						height: 40px;
						justify-content: center;
					}
				}
			}
		}

		.player-overlay {
			align-items: center;
			bottom: 10px;
			display: none;
			height: 60px;
			justify-content: center;
			left: 0;
			right: 0;
			z-index: $main-z-index-player-overlays;

			&.multiplayer {
				bottom: 10px;
				left: 0;
				right: 50%;
				top: auto;

				&.player2 {
					bottom: 10px;
					left: 50%;
					right: 0;
					top: auto;
				}

				&.portrait {
					bottom: auto;
					left: 0;
					right: 0;
					top: calc(50% - 65px);

					&.player2 {
						bottom: auto;
						left: 0;
						right: 0;
						top: calc(50% + 5px);
					}
				}
			}

			.section {
				background-color: #0000a6;
				border-bottom: 2px solid rgba(0, 0, 0, 0.5);
				border-left: 2px solid rgba(255, 255, 255, 0.5);
				border-right: 2px solid rgba(0, 0, 0, 0.5);
				border-top: 2px solid rgba(255, 255, 255, 0.5);
				height: 100%;
				position: relative;
				width: 100px;

				.body,
				.title {
					left: 0;
					position: absolute;
					right: 0;
				}

				.body {
					align-items: center;
					bottom: 0;
					display: flex;
					font-size: 20px;
					font-weight: bold;
					justify-content: center;
					top: 20px;
				}

				.title {
					color: #888888;
					font-size: 20px;
					font-weight: bold;
					height: 20px;
					text-align: center;
					top: 0;
				}
			}
		}

		.screen {
			background-color: black;
			background-position: 50% !important;
			background-repeat: no-repeat !important;
			background-size: contain !important;
			bottom: 0;
			display: none;
			image-rendering: pixelated;
			left: 0;
			right: 0;
			top: 0;
			transition: opacity 1s linear;
			z-index: $main-z-index-screen;

			&.black {
				background-color: black;
				opacity: 0;
				z-index: $main-z-index-screen + 1;

				&.fadein {
					opacity: 1;
				}
			}

			&.level-end {
				background-color: #004141;

				.image,
				.stats {
					position: absolute;
					top: 10%;
				}

				.image {
					align-items: center;
					aspect-ratio: 1;
					display: flex;
					justify-content: center;
					left: 10%;
					max-height: 50%;
					width: 33%;

					img {
						display: block;
						height: 100%;
						left: 0;
						image-rendering: pixelated;
						object-fit: contain;
						object-position: center;
						position: absolute;
						top: 0;
						width: 100%;
					}

					#screen-level-end-image2 {
						z-index: 2;

						&.animate {
							animation-duration: 1s;
							animation-name: screen-level-end-image-rotation;
							animation-iteration-count: infinite;
							animation-direction: alternate;
						}
					}

					@keyframes screen-level-end-image-rotation {
						from {
							opacity: 0;
						}

						to {
							opacity: 1;
						}
					}
				}

				.stats {
					bottom: 10%;
					left: 50%;
					right: 10%;
				}

				@media only screen and (max-width: 465px) {
					.image {
						bottom: 50%;
						left: 10px;
						position: absolute;
						top: 10px;
						width: calc(100% - 20px);
					}

					.stats {
						bottom: 0;
						left: 0;
						right: 0;
						text-align: center;
						top: 50%;
					}
				}
			}
		}

		.spinner {
			align-items: center;
			background-color: rgba(255, 255, 255, 0.25);
			bottom: 0;
			display: none;
			justify-content: center;
			left: 0;
			opacity: 0; // 0
			right: 0;
			top: 0;
			transition: opacity 1s linear;
			z-index: 9999;

			&.show {
				opacity: 1;
			}

			.spinnet {
				aspect-ratio: 1;
				height: auto;
				position: relative;
				width: 25%;
				min-width: 100px;

				.border,
				.shadow {
					border-radius: 50%;
					bottom: 0;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
				}

				.border {
					animation: rotate 1s linear infinite;
					border: $blockenstein-spinnet-border-size solid transparent;
					background: linear-gradient(0deg, transparent, transparent, white, transparent, transparent) border-box;
					mask:
						linear-gradient(#fff 0 0) padding-box,
						linear-gradient(#fff 0 0);
					mask-composite: exclude;
					z-index: 2;
				}

				.shadow {
					bottom: $blockenstein-spinnet-border-size-small;
					left: $blockenstein-spinnet-border-size-small;
					box-shadow:
						0 0 40px 10px #00ff00,
						inset 0 0 40px 10px #00ff00;
					right: $blockenstein-spinnet-border-size-small;
					top: $blockenstein-spinnet-border-size-small;
					z-index: 1;
				}
			}

			@keyframes rotate {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}
		}

		.video {
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;

			canvas,
			#gaming-canvas-canvas3 {
				transition: opacity 0.125s linear;

				&.hide {
					opacity: 0;
				}
			}

			canvas {
				opacity: 1;
			}

			#gaming-canvas-canvas3 {
				opacity: 0.9;
			}

			.edit {
				background-color: rgba(255, 255, 255, 0.5);
				background-size: contain !important;
				border: 1px solid white;
				border-radius: 25%;
				box-shadow: 0 0 2px 2px white;
				cursor: pointer;
				display: none;
				left: 0;
				pointer-events: none;
				position: absolute;
				top: 0;
				touch-action: none;
			}
		}

		.video-interactive {
			bottom: -10px;
			left: -10px;
			right: -10px;
			top: 60px;
			z-index: $main-z-index-video-interactive;

			&.cursor-grab {
				cursor: grab;

				&:active {
					cursor: grabbing;
				}
			}

			&.cursor-pointer {
				cursor: pointer;
			}
		}

		.weapons {
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: contain !important;
			box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
			display: none;
			height: 96px;
			left: calc(50% - 96px);
			top: calc(50% - 48px);
			width: 192px;
			z-index: $main-z-index-weapons;

			.weapon {
				background-position: center !important;
				background-repeat: no-repeat !important;
				background-size: contain !important;
				cursor: pointer;
				height: 45%;
				position: absolute;
				width: 45%;
			}

			#weapon1 {
				left: 5px;
				top: 5px;
			}

			#weapon2 {
				right: 5px;
				top: 5px;
			}

			#weapon3 {
				left: 5px;
				bottom: 5px;
			}

			#weapon4 {
				bottom: 5px;
				right: 5px;
			}

			&.show {
				display: block;
			}
		}
	}

	.game,
	.header-menu {
		border: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
		border-radius: 5px;
		bottom: 10px;
		left: 10px;
		position: absolute;
		right: 10px;
		top: $main-header-height + 20px;
	}

	.game {
		&.fullscreen {
			border: none;
		}
	}

	.header-menu {
		height: $main-header-height;
		top: 10px;
		z-index: 4;

		.content {
			background-color: transparent;
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: space-evenly;
			left: $main-logo-width;
			right: 0;
			transition: background-color 0.125s linear;
			z-index: 1;

			.menu {
				// !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
				background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>')
					center no-repeat;
				display: none;
				height: 25px;
				position: relative;
				top: 1px;
				width: 25px;
			}

			.menu-item {
				display: block;
				font-size: 18px;
			}

			@media only screen and (max-width: 465px) {
				.menu {
					display: block;
				}

				.menu-item {
					display: none;
					overflow: hidden;
				}

				&.open {
					background-color: var(--global-color-modal-background);
					border: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
					border-top: none;
					border-radius: 5px;
					box-shadow:
						inset 2px 2px 2px 3px rgba(0, 0, 0, 0.25),
						2px 2px 2px 3px rgba(0, 0, 0, 0.25);
					height: auto;
					justify-content: space-evenly;
					left: -2px; // border offset
					padding-bottom: 16px;
					padding-top: $main-header-height + 14px;
					right: -2px; // border offset

					.menu {
						display: none;
					}

					.menu-item {
						display: block;
					}
				}
			}
		}

		.content,
		.logo {
			position: absolute;
			top: 0;
		}

		.logo {
			background-color: rgba(0, 0, 0, 0.15);
			border-radius: 5px;
			border-right: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
			bottom: 0;
			left: 0;
			top: -1px;
			width: $main-logo-width;
			z-index: 2;

			.image {
				background: $main-logo center no-repeat;
				background-size: cover;
				display: block;
				height: 100%;
				width: 100%;
			}

			@media only screen and (max-width: 465px) {
				&.open {
					background-color: var(--global-color-modal-background);
					bottom: -2px; // border offset
					border-bottom: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
					border-top: 2px solid rgba(var(--global-color-menu-border-rgb), 0.5);
					box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
					padding-bottom: 1px;
					top: -2px; // border offset
				}
			}
		}
	}
}

.version {
	bottom: 0;
	display: block;
	font-size: 10px;
	position: absolute;
	right: 10px;
	z-index: 9999;
}
